<!--
    reddlinks, a simple link shortener written in Go.
    Copyright (C) 2025 redd

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{template "head.en.tmpl" .}}
{{template "nav.en.tmpl" .}}
<div class="main">
    <p>This link requires a password</p>
    <form action="/access" method="post">
        <div class="div-input">
                <input placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" title="Password" class="oth-input" type="password" required>
        </div>
        <input type="hidden" name="short" value="{{.Short}}">
        <div class="div-input">
            <button value="Access" name="access" type="submit">Access the link</button>
        </div>
    </form>
</div>
{{template "footer.en.tmpl" .}}
