<!--
    reddlinks, a simple link shortener written in Go.
    Copyright (C) 2025 redd

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{template "head.en.tmpl" .}}
<div id="page-container">
    <div id="content-wrap">
        {{template "nav.en.tmpl" .}}

        <h2>Privacy</h2>
        <p class="privacy">This document concerns what data you provide to this website,
            the purpose of the data, how the data is stored, how the data can be removed and licensing information.
            No data is stored in your browser.
        </p>

        <h3>Data you directly provide</h3>
        <p class="privacy">Information stored about a shortened link is limited to:</p>
        <ul class="privacy">
            <li>The URL you shorten which the shortened link will redirect you.</li>
            <li>The custom path for the shortened link if any is set.</li>
            <li>The length of the auto-generated shortened link.</li>
            <li>The expiration time of the shortened link.</li>
            <li>The password of the shortened link if any is set.</li>
        </ul>

        <h3>Data you passively provide</h3>

        <p class="privacy">
            By default, reddlinks (the web application you are currently using) does not log your actions, however, your actions can be logged by the web server used by this site's administrator.<br>
            <em>Please note that this policy concerns reddlinks only (the web application you are currently using) and not the web server, the extent on which requests are logged depend on the web server's configuration used by this site's administrator, this is entirely independent from reddlinks.</em>
        </p>

        <h3>Removal of data</h3>
        <p class="privacy">
            To remove the data you directly or indirectly provided, you can try to contact this site's administrator.<br>
            <em>Please note that reddlinks (the web application you are currently using) does not have the capacity in any way shape or form to force this site's administrator to honor such requests, despite any laws or regulations. It is up to the site's administrator to be contactable and to respect said laws and regulations. A good place to start when contacting this site's administrator is to use a "whois" application to get information about the domain name's registrant.</em>
        </p>

        {{if .ContactEmail}}
        <h3>Contact via Email</h3>
        <p class="privacy">
            Administrator's email address: {{.ContactEmail}}<br>
            <em>If the provided email address does not look like a normal email address, it is either a false or an <a href="https://spencermortensen.com/articles/email-obfuscation/#text-substitution" target="_blank">obfuscated</a> email address.</em>
        </p>
        {{end}}

        <h3>Warranty Notice</h3>
        <p class="privacy">
            reddlinks, a simple link shortener written in Go.<br>
            Copyright (C) 2025 redd<br><br>

            This program is free software: you can redistribute it and/or modify<br>
            it under the terms of the GNU General Public License as published by<br>
            the Free Software Foundation, either version 3 of the License, or<br>
            (at your option) any later version.<br><br>

            This program is distributed in the hope that it will be useful,<br>
            but WITHOUT ANY WARRANTY; without even the implied warranty of<br>
            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br>
            GNU General Public License for more details.<br><br>

            You should have received a copy of the GNU General Public License<br>
            along with this program.  If not, see <<a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>>.
        </p>

        <p class="privacy">For any issue regarding this document (lack of precision, ambiguities, disrespect of laws and regulations, ...), please file an issue at: <a href="https://github.com/redds-be/reddlinks/issues/new">https://github.com/redds-be/reddlinks/issues/new</a>.</p>

    </div>
{{template "footer.en.tmpl" .}}
