<!--
    reddlinks, a simple link shortener written in Go.
    Copyright (C) 2024 redd

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="footer">
    <p>
        <a href="/privacy">Politique de vie privée</a> | Version : {{.Version}}
    </p>
    <p>Développé par <a href="https://github.com/redds-be" target="_blank">redd</a>. Sous la license
        <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>
        © 2024. Récupérez le
        <a href="https://github.com/redds-be/reddlinks" target="_blank">Code Source</a>.
    </p>
</div>
</body>
</html>
