# Please read https://github.com/redds-be/reddlinks/wiki/Installation#setting-up-the-environment for more information about how to configure reddlinks.

## Address and port on which the server will be listening on:
#REDDLINKS_LISTEN_ADDR=<ipv4/ipv6>:<port>

## Set some defaults:
#REDDLINKS_DEF_SHORT_LENGTH=<default length>
#REDDLINKS_MAX_SHORT_LENGTH=<default max length>
#REDDLINKS_MAX_CUSTOM_SHORT_LENGTH=<default max custom short length>
#REDDLINKS_DEF_EXPIRY_TIME=<default expiry time in minutes>

## Name and FQDN of the instance, including the port if its non-standard:
#REDDLINKS_INSTANCE_NAME=<name>
REDDLINKS_INSTANCE_URL=<http/https>://<sub.domain.tld>:<port>

## Contact email
## Using an obfuscated address with symbol substitution is recommended to avoid spam.
## Example: <first part> AT <domain name> DOT <TLD> = contact AT example DOT com = contact@example.com
#REDDLINKS_CONTACT_EMAIL=<email address>

# DATABASE CONFIG
#################

#REDDLINKS_TIME_BETWEEN_DB_CLEANUPS=<minutes between cleanup of expired links>

## If you are using the default docker-compose.yml file, only REDDLINKS_DB_PASSWORD is needed here, defaults only apply when using the base docker-compose.yml found in the git repository.
REDDLINKS_DB_PASSWORD=
#REDDLINKS_DB_TYPE=postgres
#REDDLINKS_DB_USERNAME=<postgres username; default = rluser>
#REDDLINKS_DB_HOST=<postgres host; default = postgres>
#REDDLINKS_DB_PORT=<postgres port; default = 5432>
#REDDLINKS_DB_NAME=<postgres database name; default = rldb >
